In [2]:
import numpy as np
import pandas as pd
import re
x = """
Syed Umair Ahmed5:02 PM
kya mustafa bhai
syed daniyal5:26 PM
4250189782769
Rizwan Ali5:35 PM
4230174256393
Atif Ismail5:36 PM
4220102620907
MUSTAFA NADIMI5:36 PM
5440053241539
Syed Zaim Nazir5:36 PM
4220171026219
Muhammad Fahad5:38 PM
4210117498405
Imran Ali5:38 PM
4210176950677
Syeda Zehra Nadeem5:40 PM
4230123587896
Kenneth Fahad5:41 PM
3310541597331
Syed Sajjad Ali Shah5:41 PM
1510120026221
Agha Zohaib5:41 PM
4210168710111
Syed Umair Ahmed5:41 PM
4130485196673
Ahmed Saud5:41 PM
4210176752885
Nadir Ali5:42 PM
4130311530273
Bilal Uddin5:42 PM
4220122191357
Javeria Abbasi5:43 PM
4220140843098
Muneeb Abdul Rauf5:44 PM
4230181544787
Syed Mohammad Asad Asad6:17 PM
4240180561365
Syed Abbas Abbas6:17 PM
1234567890123
Madiha Obaid Obaid6:22 PM
4220105920780
Farrukh Jalil6:22 PM
4210113978763
TARIQ JAMIL6:23 PM
42501-8229854-5
MUSTAFA NADIMI6:23 PM
5440053241539
Amna Shahid6:25 PM
chakra ui
Amna Shahid6:26 PM
next.js
Syed Zaim Nazir6:27 PM
https://nextjs.org/
https://chakra-ui.com/
Amna Shahid7:13 PM
3460348242756
MUSTAFA NADIMI7:17 PM
5440053241539
mcc-qjtf-rix
""".replace("-","")

cnic = pd.DataFrame(list(set(re.findall('\d{13}',x))), columns=["CNIC"])
print(len(cnic))
display(cnic)
cnic.to_excel("class8_attendace.xlsx", index=False)

23

             CNIC
0   4230181544787
1   4210113978763
2   4230123587896
3   5440053241539
4   4220140843098
5   4220171026219
6   1234567890123
7   4230174256393
8   4240180561365
9   4250189782769
10  4130485196673
11  4220102620907
12  3460348242756
13  4210176950677
14  4210168710111
15  4220105920780
16  1510120026221
17  4210117498405
18  3310541597331
19  4130311530273
20  4210176752885
21  4250182298545
22  4220122191357